.eventForm-container {
  display: block;
  position: fixed;
  width: calc(100%);
  max-width: 365px;
  min-height: calc(100% - 70%);
  background: #1E293B;
  border-radius: 10px;
  padding-bottom: 32px;
  margin: 40px auto 0px auto;
  z-index: 5;
  color: #fff;
  top: 50%;
  left: 50%;
  right: 50%;
  min-width: 215px;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

.event-iput.time.end.allday,
.event-iput.day.end.allday {
  opacity: 0.4;
}

.event-iput {
  padding: 9px 32px 13px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #475569;
  outline: none;
  width: calc(100% - 30%);
  background: transparent;
  color: #fff;
  font-size: 18px;
}

.allday-checkbox {
  margin: 8px auto 8px 8px;
  border-radius: 4px 0 0 4px;
}

.event-iput {
  padding: 9px 15px 13px 16px;
  align-items: left;
  border-radius: 4px;
  width: calc(100%);
}
.event-iput.time {
  width: calc(100% - 30%);
  width: 140px;
}

label {
  position: relative;
  padding: 9px 10px 13px 16px;
  width: calc(100% - 28%);
  color: #fff;
  font-size: 18px;
}

.event-iput::placeholder {
  color: #fff;
}

.addEvent-button,
.addEvent-onForm,
.deleteEvent-onForm {
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: #5C6E87;
  color: #fff;
  text-transform: capitalize;
  padding: 4px 7px 4px 7px;
  vertical-align: middle;
  margin-bottom: 2px;
  text-align: center;
  display: inline-flex;
  align-items: center;
  font-size: 20px;
}

.addEvent-button,
.addEvent-onForm,
.deleteEvent-onForm {
  position: inline-flex;
  border-radius: 4px;
  padding: 7px;
  margin-top: 1.5rem;
  margin-bottom: -1.5rem;
}

.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
  color: #fff;
}

.delete-icon {
  margin-left: 6px;
  margin-right: 10px;
}
.complete-icon {
  margin-left: 6px;
}

.addEvent-icon {
  margin-right: 10px;
}

input[type="checkbox"] {
  transform: scale(2);
}

.addEvent-title {
  padding: 1rem;
  text-align: center;
}

.addEvent-onForm,
.deleteEvent-onForm {
  display: inline-flex;
  margin: 1rem 31px -1rem 0px;
  justify-content: space-evenly;
}

.Event {
  margin: 0px 10px 40px 10px;
}

.calendar {
  margin-top: 50px;
  margin-bottom: 50px;
}

.table {
  width: calc(100% - 30%);
}

@media only screen and (max-width: 800px) {
  label {
    display: inline-flex;
    padding: 0px 10px 0px 16px;
  }

  .icons {
    display: flex;
    justify-content: space-evenly;
    margin: 0.5rem 0rem 0rem auto;
    width: 100px;
  }
  
  input[type="checkbox"] {
    transform: scale(2.5);
  }

  .allday-checkbox {
    margin: 8px auto 0px 10px;
    border-radius: 4px 0 0 4px;
  }
}

